<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="container-fluid">
    <header class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>
          <strong><a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a></strong>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </header>

    <main role="main" class="row">
      <div class="col-md-offset-1 col-md-10">
        {{ content }}
      </div>
    </main>

    <footer class="row">
      <div class="col-md-offset-1 col-md-10 text-right">
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </div>
    </footer>
  </body>
</html>
